@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --clr--off-white: hsl(36, 100%, 99%);
    --clr--soft-red: hsl(5, 85%, 63%);
    --clr--soft-orange: hsl(35, 77%, 62%);
    --clr--grayish-blue: hsl(233, 8%, 79%);
    --clr--dark-greyish-blue: hsl(236, 13%, 42%);
    --clr--very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    line-height: 1.5;
    padding: 1rem;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2,
h3, h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img, video,
picture, canvas, svg {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

nav {
    width: 100%;
    background-color: var(--clr--off-white);
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 2rem;
}

nav a {
    height: 100%;
    padding: 0 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--clr--dark-greyish-blue);

    &:hover {
        color: var(--clr--soft-red);
        cursor: pointer;
    }
}

.open-sidebar {
    max-width: 2.3rem;
    height: auto;
}

.close-sidebar {
    max-width: 2.3rem;
    height: auto;
    margin-left: auto;
}

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 18rem;
    z-index: 999;
    background-color: var(--clr--off-white);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.side-bar li {
    width: 100%;
}

main {
    max-width: 35rem;
}

section {
    margin: 3rem 0rem;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--clr--very-dark-blue);
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin-bottom: 0.4rem;
}

p {
    color: var(--clr--dark-greyish-blue);
}

.hero-section > p {
    color: var(--clr--very-dark-blue);
}

.read-more {
    max-width: 10rem;
    background-color: var(--clr--soft-red);
    padding: 1rem 1.2rem;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    color: var(--clr--very-dark-blue);

    &:hover {
        background-color: var(--clr--very-dark-blue);
        color: var(--clr--off-white);
        cursor: pointer;
    }
}

.editorial-section {
    padding: 2rem 1rem;
    color: var(--clr--off-white);
    background-color: var(--clr--very-dark-blue);
}

.editorial-section > h2 {
    color: var(--clr--soft-orange);
}

.editorial-section h3:hover {
    color: var(--clr--soft-orange);
    cursor: pointer;
}

.editorial-box {
    margin: 1.5rem 0;
}

.editorial-box > p {
    color: var(--clr--grayish-blue);
    font-weight: 300;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--clr--grayish-blue);
}

.review-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.review-box > div > h2 {
    color: var(--clr--soft-red);
}

.review-box > div > h3 {
    font-weight: 800;

    &:hover {
        color: var(--clr--soft-red);
        cursor: pointer;
    }
}

.review-img {
    max-width: 5.5rem;
}

.red-header {
    font-size: 1.5rem;
}

@media (max-width: 40rem) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 40rem) {

    nav {
        max-width: 85%;
    }

    .menu-button {
        display: none;
    }

    section {
        margin: 0;
    }

    main {
        margin: 2rem 0;
        max-width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1.5rem;
    }

    .hero-section {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;  
    }

    .title {
        display: inline-flex;
        align-items: center;
        gap: 2.5rem;
    }

    .title > div {
        max-width: 20rem;
    }

    .read-more {
        font-size: clamp(0.5rem, 1.2vw, 0.9rem);
    }

    h1 {
        font-size: clamp(2rem, 4.5vw, 3.5rem);
    }

    h2 {
        font-size: clamp(1.5rem, 2vw, 2.4rem);
    }

    h3 {
        font-size: clamp(1.1rem, 0.5vw, 2rem);
    }

    p {
        font-size: clamp(0.7rem, 2vw, 1rem);
    }

    .editorial-section {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .review-section {
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .review-box {
        max-width: 18.5rem;
    }

    .review-img {
        max-width: 6.5rem;
    }
}